@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  margin: 0;
  padding: 0;
  font-family: Inter;
  background: linear-gradient(
    90deg,
    rgba(19, 22, 79, 1) 0%,
    rgba(50, 57, 70, 1) 100%
  );
  background-repeat: no-repeat;
}

::-webkit-scrollbar {
  display: none;
}

svg {
  transition: fill 0.25s ease-in-out;
}

.reverse-svg-white:hover {
  fill: black;
}

.reverse-svg path {
    transition: fill .5s ease;
}
.reverse-svg:hover path {
    fill:white;
}

.scale-up {
  transition: all 0.5s ease-in-out;
}

.scale-up:hover {
  transform: scale(1.1);
  transition: transform 0.5s;
}

@media only screen and (min-width: 768px) {
    div:nth-child(odd) > div.alternate-row {
    order: 2;
    }
}
